.feed {
  flex: 0.6;
  margin-left: 20px;
}
.feed_container {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed_input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  padding-left: 15px;
  color: gray;
}
.feed_input > form {
  display: flex;
  width: 100%;
}

.feed_input > form > input {
  border: none;
  outline: none;
  flex: 1;
  margin-left: 10px;
  font-weight: 600;
}
.feed_input > form > button {
  display: none;
}
